.carrito-container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row-reverse;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
.carrito-container h2{
    margin-left: 20rem;
}
.totalGastado{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    color: white;
    width: 50%;
    height: 2rem;
    overflow: hidden;
}
.totalGastado span{
    margin-top: 0.4rem;
    margin-left: 0.2rem;
}
.totalGastado p{
    margin-left: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-variant: all-petite-caps;
}
.carrito-productos-container{
    height: -webkit-fill-available;
    overflow: hidden;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
.carrito-ulContainer{
    overflow: scroll;
    height: 45.4rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.carrito-ul{
    padding: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.li-carrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    border: 1px solid #6f9335;
    background: #b1e957;
    border-radius: 20px;
}
.box-cart{
    height: 11rem;
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: end;
    background: #141414;
    box-shadow: inset 14px 0px 9px 0px #b1e957;
    border-radius: 0px 20px 20px 0px;
}
.box-cart input{
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 1rem;
}
.box-cart button{
    margin-right: 1rem;
    width: fit-content;
}
.container-img-carrito{
    width: 19rem;
    height: 11rem;
    margin-left: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.carrito-container img{
    width: fit-content;
    height: fit-content;
    margin-left: 0px;
    border-radius: 20px;
}
.carrito-detalles{
    height: 4rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.carrito-detalles p{
    font-size: 2rem;
}
.box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 11rem;
    width: -webkit-fill-available;
}
.carrito-message{
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.carrito-message h1{
    color: #b1e957;
    font-family: 'Source Sans Pro';
    letter-spacing: 2px;
    font-size: xx-large;
    font-variant: all-petite-caps;
}
.carrito-message a{
    font-family: sans-serif;
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.3rem;
    border: 1px solid #b1e957;
    overflow: hidden;
}
.carrito-message a:hover{
    background-color: #b1e957;
    color: black;
    border: none;
    height: 2.3rem;
    border: 1px solid #b1e957;
    box-shadow: 0px 0px 10px #b1e957;
    transition: 500ms;
    h1{
        letter-spacing: 5px;
        color: rgba(0, 0, 0, 0.582);
    }
}
.cartUlDisable{
    visibility: visible;
    display: none;
}
.cart-prodName{
    font-size: 4.6rem;
    font-feature-settings: "pcap", "c2pc";
    font-variant: all-petite-caps;
    margin: 0px 0px 0px 0.5rem;
}
.cart-prodName2{
    margin: -30px 0px 0px 0.5rem;
    font-feature-settings: "pcap", "c2pc";
    font-variant: all-petite-caps;
    font-size: 2rem;
}
.modalContainerDisable{
    visibility: hidden;
    display: none;
}
.modalContainerActive{
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: 45.4rem;
}
.modal-container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.modal-content {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.modal-content p{
    margin: 0px;
    font-size: 2rem;
    letter-spacing: 2px;
    font-variant-caps: all-small-caps;
}
.modal-header {
    height: 6rem;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.modal-body {
    height: 30rem;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.content-input {
    display: flex;
    justify-content: space-evenly;
    width: 30rem;
}
.content-input label{
    text-align: left;
    width: -webkit-fill-available;
}
.btnStyleUniversal{
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background: transparent;
    border: 1px solid #b1e957;
    transition: 320ms;
}
.btnStyleUniversal:hover{
    background-color: #b1e957;
    color: black;
    box-shadow: 0px 0px 10px #b1e957;
    transition: 320ms;
}
#btnCancelForm{
    display: none;
}
.btnCancelActive{
    display: flex !important;
}
.btnClearActive{
    display: none;
}
.btnPaymentDisable{
    display: none;
}
.btnSubmitDisable{
    display: none;
}
.precioFinal{
    margin-left: 0px !important;
}
#pTotal{
    margin-left: 0px;
}
#advertencia-order{
    font-size: 2rem;
}