a{
    border: none;
    .cart{
    padding: 3px;
    background-color: #000000bf;
    box-shadow: 0px 0px 7px 3px #2c3a1687;
    margin: 0px 3px 0px 10px;
    border: none;
    border-radius: 8px;
    transition: 600ms;
    z-index: 2;
    }
}
a:hover{
    .cart{
        transition: 500ms;
        color:  #000000bf !important;
        background-color: whitesmoke;
        box-shadow: 0px 0px 7px 3px #2c3a1687;
        border-radius: 8px;
        transition: 600ms;
        border: none;
    }
}
.cart{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 1.87rem;
    width: fit-content;
    color: #b1e957;
}
.cart p{
    padding-left: 0px !important;
}
#cant-buy{
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px -0.5rem;
    width: 30px;
    height: 20px;
    right: 65px;
    opacity: 0;
}
.cart{
    #cant-buy{
        position: static;
        display: flex;
        justify-content: center;
        z-index: 1;
        right: 65px;
        opacity: 1 !important;
        transition: 600ms ease-in-out;
        padding: 0px 0px 0px -0.5rem;
        width: 30px;
        height: 20px;
        margin: 0px;
    }
}
#cant-buy{
    margin: 0px -3px 0px 0px;
    height: 1.87rem;
    width: 1.87rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    opacity: 0.4;
}