.container-amount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    height: 60px;
    margin: 0px 0px 0px 60px;
    transition: 500ms;
}
.buttonAmount{
    border: none;
    background: none;
    color: black;
}
.counter-amount{
    background: none;
    color: black;
    text-align: center;
    width: 8.5rem;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
    border: none;
}
.amount-div{
    margin: 10px 0px 0px 0px;
    width: 13.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
#stock{
    color: #00000070;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}
.buy-div{
    margin: 6px 0px 0px 10px;
    height: 32px;
}
.buy-div form{
    display: flex;
    margin: 0px;
}
.button-add span{
    font-size: 2rem;
    font-weight: initial;
}
.button-buy:hover{
    background-color: white;
    animation-duration: 18500ms;
    animation-name: buttonBuy;
    animation-iteration-count: infinite;
    transition: 600ms;
}
.button-buy{
    background-color: #000000bf;
    box-shadow: 0px 0px 7px 3px #2c3a1687;
    border: none;
    font-size: 1.5rem;
    font-family: unset;
    border-radius: 8px;
    transition: 600ms;
    color: rgba(255, 255, 255, 0.322);
    display: flex;
    align-items: center;
}
