.footer{
    padding: 5px 15px 5px 0px;
    height: 3rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #b1e957;
    box-shadow: inset 0px 4px 7px 0px #00000036;
}