.itemDetail{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #b1e957;
    box-shadow: 0px 0px 20px 2px #b1e957;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2.5rem;
    width: -webkit-fill-available;
    width: min-content;
    height: -webkit-fill-available;
    height: fit-content;
}

.itemDetailImage{
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
}
.itemDetailImage img{
    border-radius: 0px 10px 10px 0px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    box-shadow: 4px 0px 6px 3px #ffffff7a;
    z-index: 1;
}
.itemDetails{
    box-shadow: 1px 1px 20px #5556538f;
    width: -webkit-fill-available;
    height: 16.4rem;
    padding: 10px 10px 28px 12px;
    border-radius: 10px 0px 0px 10px #ffffff7a;
}
.product-important-info{
    font-family: sans-serif;
}
.title{
    font-family: 'Source Sans Pro', sans-serif;
    font-variant: all-small-caps;
    font-weight: 900;
    font-size: 4rem;
    margin: -29px 0px 0px 0px;
}
.sub-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-variant: all-small-caps;
    font-weight: lighter;
    margin-top: -20px;
    font-size: 2rem;
}
.descripcion{
    margin-top: -35px;
    font-weight: lighter;
    text-align-last: justify;
    margin-bottom: 0px;
}
.product-info{
    font-family: 'Source Sans Pro', sans-serif;
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    font-weight: 900;
    font-size: 3rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: fit-content;
}
.hr-Details{
    background-color: black !important;
}
.product-info h4 hr{
    margin-top: 23px;
    border: none;
    width: 1.2px;
    height: 25px;
    background-color: #000000;
}
.stockProd{
    overflow: hidden;
    height: 60px;
    width: 360px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.stockPrice{
    overflow: hidden;
    height: 60px;
    width: fit-content;
    margin: 0px;
    display: flex;
    flex-direction: row;
}
.stockPrice hr{
    margin: 0px 35px 0px 35px;  
}
.container-ItemCount-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}