.containerDetail{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: -webkit-fill-available;
}

@import "./loadingScreen.scss"