@import url(./animations.scss);

.products {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    overflow: scroll;
}
.CardItems {
    margin: 15px 0px 15px 10px;
}
.temporal-class{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
}
.temporal-class ul{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.map-item{
    width: 240px;
    height: fit-content;
    background-color: #b1e957;
    box-shadow: -1px -1px 15px 0px #b1e957, inset 0px -4px 10px 3px #00000040;
    color: black;
    letter-spacing: 0.7px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    transition: 800ms;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.map-item:hover{
    background: #141414;
    box-shadow: -3px 0px 14px 3px #b1e957, inset 0px 0px 10px 4px #b1e957;
    color: #b1e957;
    transform: matrix3d(0.97, 0, -0.26, 0.0003, 0, 1, -0.09, 0, 0.26, 0.09, 0.97, 0, 0, 0, 0, 1);
    transition: 800ms;
    a{
        color: black;
        transition: 800ms;
        padding: 1px 8px 1px 8px;
        background-color: #b1e957;
        border-radius: 3px;
        transition: 800ms;
    }
    .button-detalles{
        border-radius: 5px;

        animation-duration: 19000ms;
        animation-name: buttonDetalles;
        animation-iteration-count: infinite;
        transition: 800ms;
    }
}
a{
    transition: 800ms;
}
.map-item p{
    font-size: 1.1rem;
    text-align: center;
    width: 240px;
}
.imagenItem img{
    width: -webkit-fill-available;
    height: auto;
    border-radius: 4px;
}
.imagenItem{
    display: flex;
    align-items: center;
}
.details{
    display: flex;
    flex-direction: column-reverse;
}
.details h3{
    margin: 0px;
}
ul li{
    list-style-type: none
}
.button-detalles{
    border: none;
    border-radius: 8px;
    background-color: #b1e957;
    text-shadow: -1px 1px 16px #000000a3;
}