@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

@import url("animations.scss");
$negro: rgb(65, 65, 65);

.section-header {
  width: 100vw;
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #b1e957;
  box-shadow: inset 0px 8px 5px 0px #0000003b;
}
.header-left-side {
  width: 35%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: white;
  font-family: "Fjalla One", sans-serif;
  margin-left: 55px;
  font-size: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}
.header-right-side {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}
.container-icon-cart {
  width: 50%;
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu-options{
    padding: 3px;
    background-color: #000000bf;
    box-shadow: 0px 0px 7px 3px #2c3a1687;
    margin: 0px 3px 0px 10px;
    border: none;
    border-radius: 8px;
    transition: 600ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 7.375rem;
}
.menu-options span{
  margin: 0px;
  color: #b1e957;
}
.menu-options:focus {
    transition: 600ms;
    color: #000000bf !important;
    box-shadow: 0px 0px 7px 3px #2c3a1687;
    border-radius: 8px;
    transition: 600ms;
    border: none;
    outline: none;
    .menu-options p{
      color: black;
    }
}
.options-active-btn{
  background-color: #b1e957;
  height: 100%;
  transition: 700ms;
  box-shadow: inset 3px 2px 6px #0000006b, -2px 1px 19px 8px #b1e95754;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  visibility: visible;
  #options{
    opacity: 1 !important;
  }
  transition: 600ms;
}
#options{
  padding-left: 10px;
  padding-right: 10px;
  width: 11rem;
}
#options li {
  list-style: none;
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: -webkit-fill-available;
  height: 5rem;
}
#options li a {
  list-style: none;
    text-align: left;
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    height: -moz-fit-content;
    font-size: 1.5rem;
}
#options li:hover {
  a {
    color: #b1e957;
    background-color: black;
  }
  .options {
    background-color: black;
  }
  transition: 700ms;
}
div.button-right-side {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 7rem;
}
a {
  text-decoration: none;
  color: black;
}
.menu-options p{
  margin: 0px;
  color: #b1e957;
  font: menu;
  font-size: 1rem;
  margin-left: 3px;
  margin-bottom: 4.5px;
  overflow: hidden;
  width: 6rem;
}