@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
$negro: rgb(65, 65, 65);

.section-header{
    width: 100vw;
    height: fit-content;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: inset 0px 8px 5px 0px #0000003b;
}
.header-left-side{
    width: 39%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 55px;
    font-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}
.header-right-side{
    width: 61%;
    height: 100%;
    display: flex;
    align-items: center;
}
.form-search{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-bar{
    height: 20px;
    width: 390px;
    outline: none;
    border: none;
    background-color: #b1e9577b;
    box-shadow: 0px 0px 5px 0px #000000d9;
    color: black;
    border-radius: 10px;
    padding-left: 15px;
    transition: 500ms;
}
#label-search{ 
    color: #b1e9577b;
    margin-left: 5px;
    transition: 500ms;
}
.container-icon-cart{
    width: 50%;
    height: 100%;
    padding: 15px;  
    color: #b1e957;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#label-search:hover{
    transition: 500ms;
    color:  #b8ff46;
    #search-bar{
        background-color: #b8ff46;
        box-shadow: 0px 0px 5px 0px #b8ff46;
        transition: 500ms;
    }
}