.products {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    overflow: scroll;
}
.CardItems {
    margin: 15px 0px 15px 10px;
}
.temporal-class{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
}
.temporal-class ul{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.map-item{
    width: 240px;
    height: 320px;
    background-color: #b1e957;
    box-shadow: 0px 40px 0px 0px #b1e957, inset 0px -1px 4px 0px #00000040;
    color: black;
    letter-spacing: 0.7px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
}
.map-item p{
    font-size: 1.1rem;
    text-align: center;
    width: 240px;
}
.ImagenItem img{
    width: -webkit-fill-available;
    height: auto;
    border-radius: 4px;
}
.ImagenItem{
    display: flex;
    align-items: center;
}
.details{
    display: flex;
    flex-direction: column-reverse;
}
.details h3{
    margin: 0px;
}
ul li{
    list-style-type: none
}