::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0px;
    overflow: hidden;
    background-color: #000000eb;
    z-index: 1;
}
.container-card{
    margin: 0px;
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 100vw;
    width: -webkit-fill-available;
    height: 90vh;
}
hr{
    margin-top: 3px;
    opacity: 1;
    border: none;
    height: 1px;
    background-color: #b1e957;
}
#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#container{
    display: flex;
    flex-direction: column;
    overflow: overlay;
    flex-grow: 1;
}
.main {
    height: -webkit-fill-available;
    width: auto;
    flex-grow: 1;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.shop-c{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    height: 99%;
    width: 64rem;
    padding: 0px 130px 10px 130px;
    overflow: overlay;
}
#options-right{
    visibility: hidden;
    display: none;
    transition: 700ms;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 600ms;
    width: 11rem;
}
.options-right-pasive{
    height: -webkit-fill-available;
    width: 11rem;
    box-shadow: -7px 6px 20px #0000003d;
    visibility: hidden !important;
    display: block !important;
    transition: 600ms;
}
.options-pasive{
    visibility: hidden;
    transition: 600ms;
}