body{
    margin: 0px;
    overflow: hidden;
    background-color: #000000eb;
    z-index: 1;
}
.container-card{
    margin: 0px;
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 100vw;
    width: -webkit-fill-available;
    height: 90vh;
}
hr{
    margin-top: 3px;
    opacity: 1;
    border: none;
    height: 1px;
    background-color: #b1e957;
}
#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.main {
    height: 3rem;
    width: auto;
    flex-grow: 1;
}